@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
    --font-size:16px;
    --font-family: "Young Serif", serif;
    --weight:400, 600, 700;
}

img{
    width: 100%;
}

body{
    background-color: var(--Eggshell);
    display: grid;
    min-height: 100vh;
    place-items: center;
}

hr{
    margin: 1.5rem 0;
    border: 1.5px solid var(--Light-Grey);
}

li::marker{
    color: var(--Nutmeg);
}

.wrapper{
    background-color: var(--White);
    width: 500px;
    padding: 20px;
    border-radius: 15px;
}

.container h1{
    padding: 15px 0px;
}

.container p{
    font-size: 12px;
}

.Preparation{
    background-color: var(--Rose-White);
    padding: 20px;
    margin-top: 15px;
}

.Preparation h4{
    color: var(--Dark-Raspberry);
    font-size: 18px;
}

.prepare{
    padding: 15px;
}

.prepare li{
    padding: 5px 0px;
}

.total{
    font-weight: bolder;
    color: var(--Wenge-Brown)
}

.ingredient{
    margin-top: 15px;
}

.ingredient h3{
    font-size: 18px;
}

.egg{
    padding: 15px;
}

.egg li{
    padding: 5px 0;
}

.beat{
    font-weight: bolder;
    color: var(--Wenge-Brown);
}

.instructions{
    margin-top: 15px;
}

.instructions h3{
    font-size: 18px;
}


.steps{
    padding: 15px;
}

.steps li{
    padding: 5px 0;
}

.the{
    font-weight: bolder;
    color: var(--Wenge-Brown);
}

.nutrition{
    margin-top: 15px;
}

.nutrition h3{
    font-size: 18px;
}

.word{
    padding: 15px;
}

.nutrition-table .item{
    padding: 15x 2px;
    display: flex;
    border-bottom: 1px solid var(--Nutmeg);
}

.nutrition-table .item p:nth-child(2){
    color: var(--Nutmeg);
    font-weight: 700px;
}

.nutrition-table .item >*{
    padding: 18px;
    margin-right: auto;
}

@media (max-width: 540px){
    h1{
        margin-top: 2rem;
    }

    .container{
        margin: 0;
    }

    .container .recipe-img {
        padding: 0;
        border-radius:0;
    }
}




